
html, body {
    background: #000000 !important;
    margin: 0;
    padding:0;
    height: 100%;
    font: 11px/normal sans-serif;
    scroll-behavior: smooth;
}

header {
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

.trans {
    opacity: 0.3;
}

.panel {
    height: 100%;
    width: 100%;
}

h3{
    color : white;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
}

.center {
    text-align: center;
}
nav {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 50px 0;
    box-shadow: 0px 5px 0px #dedede;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #000000;
}
nav.shift ul li a {
    position:relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: #91640F;
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #5c97f1;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.hr1{
    margin-left:0;
}

hr{
    margin-top: 20px;
    padding: 2px 0;
    border: none;
    background-color: #5c97f1;
    letter-spacing: 5px;
}

p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.hover {
    position: relative;
    color: #d9d6d2;
    text-decoration: none;
}

.hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #5c97f1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.hover:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.par{
    width: 120%;
    margin: 0 auto;
}

a{
    font-family: 'Quicksand', sans-serif;

}



td {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

th {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

table-hover {
    color: #5c97f1;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.question{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;

}

.answer {
    padding-top: 10px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #e1e1e1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 0px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.container-fluid{
    background-color: #e1e1e1;
}


.sponser {
    width: 80%;

  opacity: 0.5;
}

.sponser:hover {
   opacity: 1;
}